---
import Header from "../components/header.astro";
import truck from "../assets/images/truck.png";
import spare from "../assets/images/spare.png";
import car from "../assets/images/car.png";
import accessory from "../assets/images/accessory.png";
import oil from "../assets/images/oil.png";
import daf from "../assets/icons/daf.svg";
import man from "../assets/icons/man.svg";
import renault from "../assets/icons/renault.svg";
import scania from "../assets/icons/scania.svg";
import volvo from "../assets/icons/volvo.svg";
import pagination from "../assets/icons/pagination.svg";
import photo from "../assets/images/photo.png";

const data = [1, 2, 3, 4];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Astro</title>
  </head>
  <body>
    <Header />

    <main>
      <section class="pt-[230px]">
        <div class="container mx-auto">
          <div class="flex items-start">
            <div>
              <h1
                class="mb-[16px] text-[#333333] text-[60px] w-[540px] font-bold leading-[76px] tracking-[0%] pt-[20px]"
              >
                Affordable truck service
              </h1>
              <p
                class="text-[#333333CC] text-[18px] w-[480px] mb-[32px] leading-[22px]"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                odio in et, lectus sit lorem id integer.
              </p>
              <button
                class="bg-[#4762FF] font-semibold text-white py-[11px] px-[37px] rounded-[8px] hover:bg-[#4763ffa5]"
                >Чета сделать</button
              >
            </div>
            <div>
              <img src={truck.src} alt="truck" />
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container mx-auto">
          <div class="pt-[29px] pb-[58px]">
            <h1
              class="font-bold text-[#333333] text-[40px] mb-[18px] text-center"
            >
              Любые услуги за ваши денишки
            </h1>
            <p
              class="w-[520px] text-center mb-[48px] text-[18px] text-[#333333CC] mx-auto"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio
              in et, lectus sit lorem id integer.
            </p>

            <div class="flex flex-wrap gap-[36px] justify-center">
              <div
                class="bg-[#F4F6FA] rounded-[9px] pt-[25px] pl-[28px] w-[510px] flex h-[287px]"
              >
                <div>
                  <h2
                    class="font-bold w-[366px] text-[24px] text-[#333333] mb-[15px] leading-[29px]"
                  >
                    Б/у запчасти для грузовых авто из Европы
                  </h2>
                  <p class="w-[253px] text-[#333333CC] leading-[19px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc odio in et, lectus sit lorem id integer.
                  </p>
                </div>
                <!-- <div class="relative right-[90px]">
                  <img
                    src={spare.src}
                    alt="spare"
                    class="h-[271px] w-[320px]"
                  />
                </div> -->
              </div>

              <div
                class="bg-[#F4F6FA] rounded-[9px] pt-[25px] pl-[28px] w-[510px] flex h-[287px]"
              >
                <div>
                  <h2
                    class="font-bold w-[366px] text-[24px] text-[#333333] mb-[15px] leading-[29px]"
                  >
                    Автомойка грузовых и легковых авто
                  </h2>
                  <p class="w-[253px] text-[#333333CC] leading-[19px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc odio in et, lectus sit lorem id integer.
                  </p>
                </div>
                <!-- <div class="relative ">
                  <img
                    src={car.src}
                    alt="spare"
                    class="h-[271px] w-[500px]"
                  />
                </div> -->
              </div>

              <div
                class="bg-[#F4F6FA] rounded-[9px] pt-[25px] pl-[28px] w-[510px] flex h-[287px]"
              >
                <div>
                  <h2
                    class="font-bold w-[200px] text-[24px] text-[#333333] mb-[15px] leading-[29px]"
                  >
                    Магазин аксессуаров
                  </h2>
                  <p class="w-[253px] text-[#333333CC] leading-[19px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc odio in et, lectus sit lorem id integer.
                  </p>
                </div>
                <div class="relative bottom-[10px]">
                  <img
                    src={accessory.src}
                    alt="spare"
                    class="h-[242px] w-[430px]"
                  />
                </div>
              </div>

              <div
                class="bg-[#F4F6FA] rounded-[9px] pt-[25px] pl-[28px] w-[510px] flex h-[287px]"
              >
                <div>
                  <h2
                    class="font-bold w-[320px] text-[24px] text-[#333333] mb-[15px] leading-[29px]"
                  >
                    Пункт замены масла легковых авто
                  </h2>
                  <p class="w-[253px] text-[#333333CC] leading-[19px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc odio in et, lectus sit lorem id integer.
                  </p>
                </div>
                <div class="relative right-[5px] top-[75px]">
                  <img src={oil.src} alt="spare" class="h-[174px]" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container mx-auto">
          <div class="py-[70px] flex justify-around gap-[70px]">
            <div>
              <h1
                class="mb-[16px] w-[540px] font-bold text-[48px] text-[#333333] leading-[58px]"
              >
                У вас вопрос кто мы а кто мы блин
              </h1>

              <span>
                <p class="w-[480px] mb-[10px] text-[#333333CC]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  odio in et, lectus sit lorem id integer.
                </p>
                <p class="w-[480px] mb-[10px] text-[#333333CC]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  odio in et, lectus sit lorem id integer.
                </p>
                <p class="w-[480px] text-[#333333CC]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  odio in et, lectus sit lorem id integer.
                </p>
              </span>
            </div>
            <div>
              <div class="flex gap-[160px] mb-[50px]">
                <img src={scania.src} alt="scania" />
                <img src={volvo.src} alt="volvo" />
              </div>
              <div class="mx-auto w-[130px] mb-[31px]">
                <img src={man.src} alt="man" />
              </div>
              <div class="flex gap-[147px]">
                <img src={daf.src} alt="daf" />
                <img src={renault.src} alt="daf" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-[#F4F4F4]">
        <div class="container mx-auto">
          <div class="flex gap-[27px] justify-between items-center">
            <div>
              <h1 class="text-[48px] font-bold mb-[41px]">Где мы?</h1>
              <span>
                <p class="w-[500px] text-[18px] mb-[10px] text-[#333333CC]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  odio in et, lectus sit lorem id integer.
                </p>
                <p class="w-[500px] text-[18px] mb-[10px] text-[#333333CC]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  odio in et, lectus sit lorem id integer.
                </p>
                <p class="w-[500px] text-[18px] text-[#333333CC]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  odio in et, lectus sit lorem id integer.
                </p>
              </span>
            </div>
            <div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d43217.23698996901!2d8.3409224!3d47.3909244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900b9749bea219%3A0xe66e8df1e71fdc03!2sZ%C3%BCrich%2C%20Switzerland!5e0!3m2!1sen!2s!4v1711453884889!5m2!1sen!2s"
                width="720"
                height="549"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container mx-auto">
          <div class="py-[46px]">
            <h1
              class="font-bold text-[48px] text-[#333333] mb-[30px] text-center"
            >
              Фоточки
            </h1>
            <div class="flex justify-center mb-[30px]">
              <img src={photo.src} alt="photo" />
            </div>
            <div class="flex justify-center">
              <img src={pagination.src} alt="pagination" />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  main {
    min-height: calc(100vh - 70px - 0px);
  }
</style>
